# Supabase Configuration
VITE_MAIN_SUPABASE_URL=
VITE_MAIN_SUPABASE_SERVICE_KEY=

# Telegram Attachment Bot & Channel Configuration
VITE_TELEGRAM_BOT_TOKEN=
VITE_TELEGRAM_CHANNEL_ID=

# Admin Server Authentication
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
